# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.cpp text
*.h text
*.ino text

*.png binary
*.jpg binary
*.HMI binary
*.tft binary
*.pxf binary
*.zi binary